{% extends "em16/base.html" %}
{% load staticfiles %}
{% block head %}
    <title> Team hinzufügen - EM 2016 in Frankreich</title>
{% endblock %}

{% block content %}
    <div class="row title">
        <h5><a href="{% url 'em16:setting-list' %}">Einstellungen</a> >> Mannschaften | <span class="small">hinzufügen</span></h5>
    </div>
    <div class="row">
    {% include 'em16/include/messages.html' %}
    </div>
    <div class="row">
        <div class="col-lg-10 ">
            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'em16/include/form-template-snippet.html' %}
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-2">
                        <a href="{% url 'em16:setting-list' %}" type="button" class="btn btn-default">Abbrechen</a>
                        <button type="submit" class="btn btn-success">Hinzufügen</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
{% endblock %}
